<!stylesheet>
  <style>
    body {
      background-image: ./images/background_image.jpg; color: gold;
    }
    h1, h2 {
      font-family: garamond;
      color: gold;
      font-size: large;
      align: center;
    }
    #intro-picture {
      size: 50%;
    }
    p {
      color: gold;
    }
    div {
      background-color: black;
      border: 5px solid gold;
      padding: 20px;
      size: 50%;
      align: center;
    }
    .container1 {
      size:
    }
