  <style>
    body /*I'm struggling a bit with the background image, it seems like it only works when it's linked in the index, and then styling it here is tricky! */
    {
      background-image: url(./images/a10_background_cropped.jpg);
      background-attachment: fixed;
      font-size: 24pt;

     }
  img {
    padding: 20px;
  }
   h2 {
      font-family: garamond;
      color: #FFFAF0;
      align: center;
      width: 1000px;
      height: auto;
      margin: 30px;

    }
    #intro-picture {
      height: 400px;
      width: 400px;
    }
    p {
      color: gold;
    }
    div {
      background-color: black;
      border: 5px solid gold;
      padding: 20px;
      text-align: center;
      font-size: 24pt;
      align: center;
      margin-right: 50px;
      margin-left: 50px;
    }
    .body-style {
      background-attachment: fixed;
      font-size: 24pt;
    }
    .container1 {
      .container {
      color: #FFFAF0;
      align: center;
      float: center;
      margin: 30px;
      width: 1000px;
      height: auto;
    }
    .container {
    align: center;
    float: center;
    margin: 50px;
    width: 1000px;
    height: auto;
    }
    .banner {
      size: 80%;
      opacity: .9;
    }
    #flapper-girl-1 {
      align: center;
    }
    #flapper-girl-2 {
      align: top left;
    }
    #flapper-girl-3 {
      align: top right;
    }
    }
    #youtube-video {
      color: #FFFAF0
    }
</style>
