<style>
body{
  background-color: floralwhite;
  *line-height: 2em;
}
h1{
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 56px;
  text-align: center;
  color: black;
  font-variant: small-caps;
  text-decoration:underline;
} 
h4{
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 24px
  text-align: center;
  color: black;
  align-content: center;
}
div{
  font-family:'montserrat-light', 'georgia', 'arial';
  padding: 2px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justified;

}
h2{
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 36px
  text-align: center;
  color: black;
}
p{
  font-family: 'montserrat-light', 'georgia', 'arial';
  font-size:18px
  line-height: 2em;
  text-indent: 10px;
}
a{
  text-decoration:none;
}
..a:: hover{
  color: lightblue;
  size: 105%;
}
..a:: visited{
  color: purple;
}
#title{
  align-content: center;
  text-align: center;
}
..paragraph{
  line-height: 2em;
}
..exerpt{
  align-content: center;
  text-align: center;
  align: center;
}
</style>
