h1 {
  font-family: 'playfair-display-variable', georgia, arial;
  font-size: 36pt;
  text-align: center;
  color: red; 
  font-variant: small-caps;
}
div {
  font-family:'montserrat-light';

}
h2 {
  font-family: 'playfair-display-variable', georgia, arial;
  font-size: 75%;
  text-align: center;
  color: black;
}
a {

}
a:hover {
}
#div-1 {
  align-content: center;
}
