<style>
body{
  background-color: floralwhite;
}
h1{
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 56px;
  text-align: center;
  color: black;
  font-variant: small-caps;
  text-decoration:underline;
}
div{
  font-family:'montserrat-light', 'georgia', 'arial';
  padding: 5px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justified;
}
h2{
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 36px
  text-align: center;
  color: black;
}
p{
  font-family: 'montserrat-light', 'georgia', 'arial';
  font-size:18px
  line-height: normal;
}
a{
  color: blue;
  text-decoration:none;
}
.a:hover{
  color: lightblue;
  size: 105%;
}
.a:visited{
  color: purple;
}
#title{
  align-content: center;
  text-align: center;
}
#exerpt{
  font-size:26px
}
.first-paragraph{
  :first-sentence
}
.paragraph{
  line-height: 3em;
}
</style>
