
body {
  background-color: floralwhite;
  *line-height: 10em;
}
h1 {
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 56px;
  text-align: center;
  color: black;
  font-variant: small-caps;
  text-decoration:underline;
  margin-top: 60px;
}
h4 {
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 24px;
  text-align: center;
  color: black;
  align-content: center;
}
div {
  font-family:'montserrat-light', 'georgia', 'arial';
  padding: 2px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justified;
}
h2 {
  font-family: 'playfair-display-variable', 'georgia', 'arial';
  font-size: 36px;
  text-align: center;
  color: black;
}
p {
  font-family: 'montserrat-light', 'georgia', 'arial';
  font-size:18px;
  line-height: 2em;
  text-indent: 50px;
}
a {
  text-decoration:none;
}
a:hover {
  color: lightblue;
  size: 105%;
}
a:visited {
  color: purple;
}
.title {
  align-content: center;
  text-align: center;
}
.page-header {
  background-color: #d0d0d0;
  font-family: 'montserrat-light', 'georgia', 'arial';
  font-size: 18pt;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0.25em;
  position:fixed;
 
}
.menu-item {
  margin: auto;
    padding: 0.25em;
    min-width: 75px;
    font-size: 18pt;
    color: #fff;
    line-height: 2.1em;
    background-color:grey;

}

.display-inline-block {
  display: inline-block;
}

}

.paragraph {
  line-height: 2em;
  max-width: 1000px;
  text-align: justify;
}
.exerpt {
  align-content: center;
  text-align: center;
}
#first-paragraph::first-line {
  text-transform: small-caps;
}
#paragraph-1 {
  background-color: #B0C4DE;
  opacity: .9;
  padding: 1em;
}
#paragraph-2 {
  background-color: #B0C4DE;
  opacity: .8;
  padding: 1em;
}
#paragraph-3 {
  background-color: #B0C4DE;
  opacity: .7;
  padding: 1em;
}
#paragraph-4 {
  background-color: #B0C4DE;
  opacity: .6;
  padding: 1em;
}
#paragraph-5 {
  background-color: #B0C4DE;
  opacity: .5;
  padding: 1em;
}
